.navbar {
  background-color: lightgrey;
  display: flex;
  color: white;
}

.navbar-links {
  display: flex;
  gap: 15px;
  margin-left: auto;
}

.navbar-links a {
  text-decoration: none;
  color: white;
}

.navbar-links a:hover {
  background-color: #ddd;
  border-radius: 5px;
}

.library-heading {
  padding: 26px;
}

input[type=text] {
  width: 100%;
  margin: 6px 0;
  box-sizing: border-box;
}

input {
  width: 100%;
  border: inset;
}

section.container.row button {
  border-radius: 8px;
  width: 50%;
  height: 30px;
  margin-top: 10px;
  background-color: #1d4ed8;
  color: white;
  font-weight: bold;
  font-size: 13px;
}

label {
  font-size: 13px;
  display: inline;
  font-weight: bold;
}

div#search-form {
  margin: 18px;
  border: 3px solid #1e3a8a;
  box-shadow: 10px 10px 15px #1e3a8a;
  padding: 0px;
}

section.container.row {
  display: flex;
  flex-wrap: nowrap;
}

h2.card-header {
  width: 100%;
  background-color: #1e3a8a;
  text-align: center;
  color: white;
  font-weight: bold;
}

div#results {
  position: relative;
  top: 28px;
  font-weight: bold;
}

.card-header:first-child {
  border-radius: 0;
}

#result-entrys {
  padding-top: 200px;
}

#about-bq,
#about-h2 {
  padding-left: 40px;
  padding-top: 25px;
  padding-right: 25px;
}
